<!-- Search -->
<mat-form-field class="search">
    <mat-icon matIconPrefix>search</mat-icon>
    <mat-label>Suche</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Suche nach Connectoren...">
</mat-form-field>

<!-- Table -->
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

        <!-- UUID Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> UUID </th>
            <td mat-cell *matCellDef="let row"> {{ row.id }} </td>
        </ng-container>

        <!-- Manufacturer Column -->
        <ng-container matColumnDef="manufacturer">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Hersteller </th>
            <!-- TODO: check displayed data -->
            <td mat-cell *matCellDef="let row"> {{ row.manufacturer.id }} </td>
        </ng-container>

        <!-- Configuration Column -->
        <ng-container matColumnDef="configuration">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Konfiguration </th>
            <!-- TODO: check displayed data -->
            <td mat-cell *matCellDef="let row"> {{ row.typeDescription }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data -->
        <tr *matNoDataRow>
            <td class="no-data-row" [attr.colspan]="displayedColumns.length">
                Keine Einträge stimmen mit der Suche überein
            </td>
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of connectors"></mat-paginator>
</div>